<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <h1>New Child Configuration</h1>
    </div>
    <div class="col text-right">
      <%= link_to 'Back', redirect_path, class: "btn btn-light" %>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <%= form_with(model: @configuration, local: true) do |form| %>
        <% if @configuration.errors.any? %>
          <div id="error_explanation" class="alert alert-danger" role="alert">
            <h5><%= pluralize(@configuration.errors.count, "error") %> prohibited this configuration from being saved:</h5>
            <ul>
              <% @configuration.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= form.fields_for :child_configurations, @configuration.child_configurations.new do |field| %>
          <div class="form-group">
            <%= field.label :name %>
            <%= field.text_field :name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= field.select :kind, options_for_select(%w(string integer float)), { allow_blank: false }, class: "form-control" %>
            <%= field.label :kind do %>
              <small>What type of content should this config step have?</small>
            <% end %>
          </div>

          <div class="form-group">
            <div class="form-check">
              <%= field.check_box :multiple_values, class: "form-check-input" %>
              <%= field.label :multiple_values, class: "form-check-label" %>
            </div>
          </div>
        <% end %>

        <div class="actions">
          <%= form.submit "Save", class:"btn btn-success min-width-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
