<%= form_with(model: puppet_node, local: true) do |form| %>
  <% if puppet_node.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h5><%= pluralize(puppet_node.errors.count, "error") %> prohibited this puppet_node from being saved:</h5>
      <ul>
      <% puppet_node.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :fqdn %>
    <%= form.text_field :fqdn ,class:"form-control"%>
  </div>
  <div class="form-group">
    <%= form.label :role %>
    <%= form.text_field :role ,class:"form-control"%>
  </div>
  <div class="form-group">
    <%= form.label :puppet_environment_id %>
    <%= form.text_field :puppet_environment_id ,class:"form-control"%>
  </div>
  <div class="form-group">
    <%= form.label :zone %>
    <%= form.text_field :zone ,class:"form-control"%>
  </div>
  <div class="form-group">
    <%= form.label :os_family %>
    <%= form.text_field :os_family ,class:"form-control"%>
  </div>
  <div class="form-group">
    <%= form.label :os_lsbdistcodename %>
    <%= form.text_field :os_lsbdistcodename ,class:"form-control"%>
  </div>
  <div class="form-group">
    <%= form.label :organization %>
    <%= form.text_field :organization ,class:"form-control"%>
  </div>
  <div class="form-group">
    <%= form.label :config_file_name %>
    <%= form.text_field :config_file_name ,class:"form-control"%>
  </div>
  <div class="actions">
    <%= form.submit "Save", class:"btn btn-success min-width-btn" %>
  </div>
<% end %>
