<%= form_tag "" do |form| %>
  <div class="form-group" data-controller="slim-select">
    <%= label_tag :node, "Select node" %>
    <div class="row">
      <div class="col-7">
        <select name="node" data-controller="select-navigation" data-action="change->select-navigation#navigate" data-slim-select-target="dropdown">
          <option value="" <% "selected" if @node.nil? %> data-url="<%= environment_nodes_path(@environment) %>"></option>
          <% @nodes.each do |node| %>
            <option data-url="<%= environment_node_keys_path(@environment, node) %>" <%= "selected" if node == @node %> <%= "data-hidable=\"true\"" if node.environment != @environment %>>
              <%= node.hostname %> (<%= node.environment %>)
            </option>
          <% end %>
        </select>
      </div>
      <div class="col-5">
        <div class="form-check form-switch">
          <input type="checkbox" checked class="form-check-input" id="node-filter" role="switch" data-action="change->slim-select#toggleFilter">
          <label class="form-check-label" for="node-filter">Only from selected environment</label>
        </div>
      </div>
    </div>
  </div>
<% end %>
