<%= form_tag "" do |form| %>
  <div class="form-group">
    <%= label_tag :node, "Select node" %>
    <select name="node" data-controller="slim-select select-navigation" data-action="change->select-navigation#navigate">
      <option value="" <% "selected" if @node.nil? %> data-url="<%= environment_nodes_path(@environment) %>"></option>
      <% @nodes.each do |node| %>
        <option data-url="<%= environment_node_keys_path(@environment, node) %>" <%= "selected" if node == @node %>><%= node.hostname %></option>
      <% end %>
    </select>
  </div>
<% end %>
