<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h5><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h5>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :first_name  %>
    <%= form.text_field :first_name, class:"form-control", autofocus: true, autocomplete: "given-name" %>
  </div>
  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class:"form-control", autocomplete: "family-name" %>
  </div>
  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class:"form-control", autocomplete: "email" %>
  </div>
  <div class="form-group">
    <%= form.label :password %>
    <%= form.password_field :password, class:"form-control" %>
  </div>

  <% if current_user.try(:admin?) %>
    <% if current_page?(action: 'new') || current_user != user || User.admins.count > 1 %>
      <div class="form-check">
        <%= form.check_box :admin, class:"form-check-input" %>
        <%= form.label :admin, class: "form-check-label" %>
      </div>
    <% end %>
  <% end %>
  <div class="actions">
    <%= form.button type: :submit, class:"btn btn-success min-width-btn" do %>
      <%= icon "save" %>
      Save
    <% end %>
  </div>
<% end %>
