<div class="container-fluid">
  <h1>Users</h1>
  <table class="table">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Role</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= user.first_name %>
          </td>      
          <td>
            <%= user.last_name %>
          </td>      
          <td>
            <%= user.email %>
          </td>      
          <td>
            <% if can? :show, user.role %>
              <%= link_to user.role, user.role %>
            <% else %>
              <%= user.role %>
            <% end %>
          </td>      
          <td>
            <% if can? :show, user %>
              <%= link_to user, class:"btn btn-sm btn-light min-width-btn" do %>
                <%= icon "eye" %>
                Show
              <% end %>
            <% end %>
            <% if can? :edit, user %>
              <%= link_to edit_user_path(user), class:"btn btn-sm btn-primary min-width-btn" do %>
                <%= icon "pencil" %>
                Edit
              <% end %>
            <% end %>
            <% if can? :delete, user %>
              <%= link_to user, method: :delete, data: { confirm: user_deletion_confirmation(user) }, class:"btn btn-sm btn-danger min-width-btn" do %>
                <%= icon "trash" %>
                Delete
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if can? :create, User.new %>
    <br>
    <%= link_to new_user_path, class:"btn btn-success min-width-btn" do %>
      <%= icon "person-plus" %>
      New User
    <% end %>
  <% end %>
</div>
