<div class="container-fluid">
  <h1>User Details</h1>
  <%= form_with(model: @user, local: true) do |form| %>
    <div class="mb-4">
      <%= form.label :first_name %>
      <%= form.text_field :first_name ,class:"form-control", readonly:true%>
    </div>
    <div class="mb-4">
      <%= form.label :last_name %>
      <%= form.text_field :last_name ,class:"form-control", readonly:true%>
    </div>
    <div class="mb-4">
      <%= form.label :username %>
      <%= form.text_field :username ,class:"form-control", readonly:true%>
    </div>
    <div class="mb-4">
      <%= form.label :role %>
      <%= form.select :role, User::ROLES, {}, class:"form-control", readonly: true %>
    </div>
  <% end %>
  <%= link_to edit_user_path(@user),class:"btn btn-primary min-width-btn" do %>
    <%= icon "pencil" %>
    Edit
  <% end %>
  <%= link_to users_path,class:"btn btn-light min-width-btn" do %>
    <%= icon "arrow-left-short" %>
    Back
  <% end %>
</div>
