<% hierarchy = file.hierarchy %>
<%= form_with url: (file.writable? ? environment_node_key_layer_hierarchy_data_file_value_path(@environment, @node, @key, hierarchy.layer, hierarchy, file) : nil),
  method: :patch, local: true,
  data: ({
    controller: "encryption",
    action: "reset->encryption#reset",
    encryption_decrypt_url_value: environment_layer_hierarchy_decrypted_values_path(@environment, hierarchy.layer, hierarchy),
    encryption_encrypt_url_value: environment_layer_hierarchy_encrypted_values_path(@environment, hierarchy.layer, hierarchy)
  } if hierarchy.encryption_possible?) do |f| %>
  <%= hidden_field_tag :hierarchy, hierarchy.name %>
  <%= hidden_field_tag :path, file.path %>
  <%= text_area_tag :value, value&.value,
    rows: 4, class: "form-control",
    readonly: !file.writable?,
    data: {
      encryption_target: "field",
      action: "select->encryption#updateEncryptionStatus"
    }
  %>
  <div class="d-flex justify-content-end mt-2">
    <% if hierarchy.encryption_possible? %>
      <%= link_to "#", class: "btn btn-sm btn-primary text-white ms-2",
        data: {
          encryption_target: "decryptButton",
          action: "click->encryption#decrypt"
        } do %>
        <%= icon "unlock-fill" %>
        Decrypt
      <% end %>
      <% if file.writable? %>
        <%= link_to "#", class: "btn btn-sm btn-primary text-white ms-2",
          data: {
            encryption_target: "encryptButton",
            action: "click->encryption#encrypt"
          } do %>
          <%= icon "lock-fill" %>
          Encrypt
        <% end %>
      <% end %>
    <% end %>
    <% if file.writable? %>
      <% if file.has_key?(key: @key) %>
        <%= link_to environment_node_key_layer_hierarchy_data_file_value_path(@environment, @node, @key, hierarchy.layer, hierarchy, file), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-sm btn-danger ms-2" do %>
          <%= icon "trash" %>
          Delete
        <% end %>
      <% end %>
      <%= f.button type: :reset, class: "btn btn-sm btn-secondary ms-2" do %>
        <%= icon "arrow-counterclockwise" %>
        Reset
      <% end %>
      <%= f.button type: :submit, class: "btn btn-sm btn-success text-white ms-2" do %>
        <%= icon "save" %>
        Save
      <% end %>
    <% end %>
  </div>
<% end %>
