<% if Rails.configuration.hdm['read_only'] %>
  <pre><%= path_data[:value] %></pre>
<% else %>
  <%= form_with url: environment_node_key_path(@environment, @node, @key), method: :patch, local: true do |f| %>
    <%= hidden_field_tag :hierarchy, hierarchy %>
    <%= hidden_field_tag :path, path_data[:path] %>
    <%= text_area_tag :value, path_data[:value], rows: 4, class: "form-control" %>
    <div class="d-flex justify-content-end mt-2">
      <% if path_data[:key_present] %>
        <%= link_to environment_node_key_path(@environment, @node, @key, path: path_data[:path]), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" do %>
          <%= icon "trash" %>
          Delete
        <% end %>
      <% end %>
      <%= f.button type: :reset, class: "btn btn-sm btn-secondary ml-2" do %>
        <%= icon "arrow-counterclockwise" %>
        Reset
      <% end %>
      <%= f.button type: :submit, class: "btn btn-sm btn-primary ml-2" do %>
        <%= icon "save" %>
        Save
      <% end %>
    </div>
  <% end %>
<% end %>
