<% if !value.file_writable? %>
  <pre><%= value.value %></pre>
<% else %>
  <%= form_with url: environment_node_key_path(@environment, @node, @key),
    method: :patch, local: true,
    data: ({
      controller: "encryption",
      action: "reset->encryption#reset",
      encryption_decrypt_url_value: environment_node_decrypted_values_path(@environment, @node, @key, hierarchy: hierarchy.name),
      encryption_encrypt_url_value: environment_node_encrypted_values_path(@environment, @node, @key, hierarchy: hierarchy.name)
    } if hierarchy.encryption_possible?) do |f| %>
    <%= hidden_field_tag :hierarchy, hierarchy.name %>
    <%= hidden_field_tag :path, value.path %>
    <%= text_area_tag :value, value.value, rows: 4, class: "form-control",
      data: {
        encryption_target: "field",
        action: "select->encryption#updateEncryptionStatus"
      }
    %>
    <div class="d-flex justify-content-end mt-2">
      <% if hierarchy.encryption_possible? %>
        <%= link_to "#", class: "btn btn-sm btn-primary text-white ml-2",
          data: {
            encryption_target: "decryptButton",
            action: "click->encryption#decrypt"
          } do %>
          <%= icon "unlock-fill" %>
          Decrypt
        <% end %>
        <%= link_to "#", class: "btn btn-sm btn-primary text-white ml-2",
          data: {
            encryption_target: "encryptButton",
            action: "click->encryption#encrypt"
          } do %>
          <%= icon "lock-fill" %>
          Encrypt
        <% end %>
      <% end %>
      <% if value.key_present? %>
        <%= link_to environment_node_key_path(@environment, @node, @key, path: value.path), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger ml-2" do %>
          <%= icon "trash" %>
          Delete
        <% end %>
      <% end %>
      <%= f.button type: :reset, class: "btn btn-sm btn-secondary ml-2" do %>
        <%= icon "arrow-counterclockwise" %>
        Reset
      <% end %>
      <%= f.button type: :submit, class: "btn btn-sm btn-success text-white ml-2" do %>
        <%= icon "save" %>
        Save
      <% end %>
    </div>
  <% end %>
<% end %>
