<%= render "select_env_and_node" %>

<div class="row mt-4">
  <div class="col-6">
    <%= render "key_list" %>
  </div>
  <div class="col-6">
    <div class="text-end pb-2">
        <b>Lookup options:</b>
        <span class="badge bg-primary"><%= @key.lookup_options(@node) %></span>
        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#lookup-result">
          <%= icon "search" %>
          Show lookup result
        </button>
    </div>
    <% index = 0 %>
    <% @environment.hierarchies.each do |hierarchy| %>
      <div id="<%= hierarchy.name.parameterize %>" class="accordion">
        <div class="accordion-item">
          <h2 class="accordion-header px-3 py-2">
            <span class="fs-6">
              <b><%= hierarchy.name %></b>
              <span class="badge bg-primary text-light"><%= hierarchy.backend %></span>
            </span>
          </h2>
        </div>
        <% hierarchy.files_for(node: @node).each do |file| %>
          <% index += 1 %>
          <% value = file.value_for(key: @key) %>
          <div class="accordion-item">
            <h2 class="accordion-header" id="path-<%= index %>">
              <button class="accordion-button bg-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= index %>" aria-expanded="false" aria-controls="collapse-<%= index %>">
                <span>
                  <%= format_path(file, @key) %>
                  <% if value&.encrypted? %>
                    <span class="ms-2 text-danger">
                      <%= icon("lock-fill") %>
                    </span>
                  <% end %>
                </span>
                <span class="text-muted ms-2">
                  <% if file.replaced_from_git? %>
                    <span title="This value is taken from a git repository and not from live production data. Changes will be made to the git repository.">
                      <%= icon("layers") %>
                    </span>
                  <% end %>
                  <% if file.writable? %>
                    <span title="Value can be edited">
                      <%= icon("pencil") %>
                    </span>
                  <% else %>
                    <span title="Value is read-only">
                      <%= icon("eye") %>
                    </span>
                  <% end %>
                </span>
              </button>
            </h2>

            <div id="collapse-<%= index %>" class="accordion-collapse collapse" aria-labelledby="path-<%= index %>" data-bs-parent="<%= hierarchy.name.parameterize %>">
              <div class="accordion-body">
                <%= render "value", file: file, value: value %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="lookup-result" tabindex="-1" aria-labelledby="lookup-result-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="lookup-result-label">Lookup result for <code><%= @key.name %></code></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= turbo_frame_tag "lookup-result-frame", src: environment_node_key_lookup_path(@environment, @node, @key), loading: "lazy" do %>
          Loading...
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
