<%= render "select_env_and_node" %>

<div class="row mt-4">
  <div class="col-6">
    <%= render "key_list" %>
  </div>
  <div class="col-6">
    <div class="text-right pb-2">
        <b>Lookup options:</b>
        <span class="badge badge-primary"><%= @key.lookup_options(@node) %></span>
    </div>
    <% index = 0 %>
    <% @environment.hierarchies.each do |hierarchy| %>
      <div class="accordion">
        <div class="card">
          <div class="card-body">
            <b><%= hierarchy.name %></b>
            <span class="badge badge-primary text-light"><%= hierarchy.backend %></span>
          </div>
        </div>
        <% hierarchy.files_for(node: @node).each do |file| %>
          <% index += 1 %>
          <% value = file.value_for(key: @key) %>
          <div class="card">
            <div class="card-header" id="path-<%= index %>">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left d-flex justify-content-between" type="button" data-toggle="collapse" data-target="#collapse-<%= index %>" aria-expanded="true" aria-controls="collapse-<%= index %>">
                  <span>
                    <%= format_path(file, @key) %>
                    <% if value&.encrypted? %>
                      <span class="text-danger">
                        <%= icon("lock-fill") %>
                      </span>
                    <% end %>
                  </span>
                  <span class="text-muted">
                    <% if file.replaced_from_git? %>
                      <span title="This value is taken from a git repository and not from live production data. Changes will be made to the git repository.">
                        <%= icon("layers") %>
                      </span>
                    <% end %>
                    <% if file.writable? %>
                      <span title="Value can be edited">
                        <%= icon("pencil") %>
                      </span>
                    <% else %>
                      <span title="Value is read-only">
                        <%= icon("eye") %>
                      </span>
                    <% end %>
                  </span>
                </button>
              </h2>
            </div>

            <div id="collapse-<%= index %>" class="collapse" aria-labelledby="path-<%= index %>">
              <div class="card-body">
                <%= render "form", file: file, value: value %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
