<%= render "nodes/select_node" %>

<div class="row mt-4">
  <div class="col-6">
    <%= render "key_list" %>
  </div>
  <div class="col-6">
    <% index = 0 %>
    <% @key.hierarchies.each do |hierarchy| %>
      <div class="accordion">
        <div class="card">
          <div class="card-body">
            <b><%= hierarchy.name %></b>
            <span class="badge badge-primary text-light"><%= hierarchy.backend %></span>
          </div>
        </div>
        <% hierarchy.values_for(@key).each do |value| %>
          <% index += 1 %>
          <div class="card">
            <div class="card-header" id="path-<%= index %>">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left d-flex justify-content-between" type="button" data-toggle="collapse" data-target="#collapse-<%= index %>" aria-expanded="true" aria-controls="collapse-<%= index %>">
                  <span>
                    <%= format_path(value) %>
                    <% if value.encrypted? %>
                      <span class="text-danger">
                        <%= icon("lock-fill") %>
                      </span>
                    <% end %>
                  </span>
                  <span class="text-muted">
                    <% if value.file_writable? %>
                      <%= icon("pencil") %>
                    <% else %>
                      <%= icon("eye") %>
                    <% end %>
                  </span>
                </button>
              </h2>
            </div>

            <div id="collapse-<%= index %>" class="collapse" aria-labelledby="path-<%= index %>">
              <div class="card-body">
                <%= render "form", value: value, hierarchy: hierarchy %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
