<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
  <div class="container">
    <a class="navbar-brand font-weight-bold" href="/">
      <%= image_tag "logo_full.png", alt: "HDM", height: "48" %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <% if current_user %>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.email %>
            <% if current_user.admin? %>
              (Admin)
            <% end %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if current_user %>
                <% if can? :update, current_user %>
                  <%= link_to edit_user_path(current_user), class: 'dropdown-item' do %>
                    <%= icon "person" %>
                    Edit Profile
                  <% end %>
                <% end %>
                <%= link_to logout_path, class: 'dropdown-item' do %>
                  <%= icon "box-arrow-right" %>
                  Logout
                <% end %>
              <% else %>
                <% if can? :create, User.new %>
                  <%= link_to "Sign up", signup_path, class: 'dropdown-item'  %>
                <% end %>
                <%= link_to "Login", login_path, class: 'dropdown-item'  %>
              <% end %>
              <% if User.accessible_by(current_ability).any? %>
                <div class="dropdown-divider"></div>
                <%= link_to users_path, class: 'dropdown-item' do %>
                  <%= icon "people" %>
                  List Users (<%= User.accessible_by(current_ability).count %>)
                <% end %>
                <% if can? :create, User.new %>
                  <%= link_to new_user_path, class: 'dropdown-item' do %>
                    <%= icon "person-plus" %>
                    Create a new User
                  <% end %>
                <% end %>
                <% if can? :show, Group %>
                  <%= link_to groups_path, class: "dropdown-item" do %>
                    <%= icon "person-badge" %>
                    List Groups
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to login_path, class: 'nav-link' do %>
              <%= icon "box-arrow-in-right" %>
              Login
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
