<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <h1>Edit Node</h1>
    </div>
    <div class="col text-right">
      <%= link_to 'Back', puppet_environment_nodes_path(@environment), class: "btn btn-light" %>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <%= render 'form', node: @node, url: puppet_environment_node_path(@environment, @node) %>

      <hr class="mt-5 mb-5">
      <h3>Configurations</h3>

      <% if @node.configurations.select(&:persisted?).empty? %>
        <div class="mt-3 alert alert-info">
          There are no configurations yet.
        </div>
      <% end %>

      <%= render 'puppet/configurations/configurations', configurations: @node.configurations %>

      <h3 class="mt-5">Add a new configuration</h3>
      <%= render 'puppet/configurations/form', configurable: @node, url: puppet_environment_node_path(@environment, @node) %>
    </div>
    <div class="col-6">
      <%= debug @node.display_configs %>
    </div>
  </div>
</div>
