<div class="container-fluid">
  <h1>Configurations</h1>

  <div class="row">
    <div class="col-md-6">
      <% @puppet_configurations.each do |puppet_configuration| %>
        <div class="form-group">
          <input type="text" readonly="readonly" value="<%= puppet_configuration.name %>", class="form-control" />
        </div>
        <% puppet_configuration.puppet_values.each do |puppet_value| %>
          <div class="ml-3 form-group">
            <input type="text" readonly="readonly" value="<%= puppet_value.value %>", class="form-control" />
          </div>
        <% end %>
        <div class="ml-3">
          <% if puppet_configuration.puppet_values.empty? || puppet_configuration.multiple_values? %>
            <%= render 'puppet_values/form', puppet_environment: @puppet_environment, puppet_node: @puppet_node,
              puppet_configuration: puppet_configuration, puppet_value: PuppetValue.new %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= debug @puppet_node.configurations %>
    </div>
  </div>

  <% #= render partial: "puppet_nodes/table", locals: {puppet_nodes: @puppet_nodes} %>
  <div class="row mt-3">
    <div class="col-md-6">
      <hr>
      <h4>New Configuration</h4>
      <%= render 'form', puppet_environment: @puppet_environment, puppet_node: @puppet_node, puppet_configuration: @puppet_configuration %>
    </div>
  </div>



  <!--
  <% if can? :create, PuppetConfiguration.new %>
    <br>
    <% #= link_to 'New Puppet Node', new_puppet_node_path, class: "btn btn-success min-width-btn" %>
  <% end %>
  -->
</div>
