<h1>HDM (Hiera Data Manager)</h1>
<p>HDM is a webfrontend for visualizing and managing Hiera data.</p>
<% unless current_user %>
  <%= render template: "sessions/new" %>
<% else %>
  <% if User.count == 1 && current_user.admin? %>
    <h2>First Step: Create a User</h2>
    <p>Your account (<%= current_user.email %>) has admin priviliges which allow to manage users but which do not
    allow to manage the puppet configuration.</p>
    <p><strong>=> <%= link_to "Create a new user", new_user_path %></strong> who is not an admin to
    get access to the puppet configuration.</p>
  <% end %>
  <% if can? :index, Environment %>
    <%= link_to environments_path, class: "btn btn-primary" do %>
      <%= icon "list" %>
      Show Environments
    <% end %>
  <% end %>
  <% if can? :create, User %>
    <%= link_to users_path, class: "btn btn-primary" do %>
      <%= icon "people" %>
      Manage Users
    <% end %>
  <% end %>
<% end %>
