<h1>HDM (Hiera Data Manager)</h1>
<p>HDM is a webfrontend for visualizing and managing Hiera data.</p>
<% unless current_user %>
  <h2>Login</h2>
  <%= form_tag sessions_path do |form| %>
    <div class="form-group">
      <%= label_tag :email %>
      <%= text_field_tag :email, nil, class:"form-control", autofocus: true %>
    </div>
    <div class="form-group">
      <%= label_tag :password %>
      <%= password_field_tag :password, nil, class:"form-control" %>
    </div>
    <div class="actions">
      <%= submit_tag "Login", class:"btn btn-success min-width-btn" %>
    </div>
  <% end %>
<% else %>
  <% if User.count == 1 && current_user.admin? %>
    <h2>First Step: Create a User</h2>
    <p>Your account (<%= current_user.email %>) has admin priviliges which allow to manage users but which do not
    allow to manage the puppet configuration.</p>
    <p><strong>=> <%= link_to "Create a new user", new_user_path %></strong> who is not an admin to
    get access to the puppet configuration.</p>
  <% else %>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
  <% end %>
<% end %>
