<%= form_with(model: option, url: url, local: true) do |form| %>
  <% if option.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h5><%= pluralize(option.errors.count, "error") %> prohibited this option from being saved:</h5>
      <ul>
        <% option.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control"%>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-success min-width-btn" %>
  </div>
<% end %>
