<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <h1>Edit Option</h1>
    </div>
    <div class="col text-right">
      <%= link_to 'Back', puppet_environment_node_options_path(@environment, @node), class: "btn btn-light" %>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <%= render 'form', option: @option, url: puppet_environment_node_option_path(@environment, @node, @option) %>

      <hr class="mt-5 mb-5">
      <h3>Configurations</h3>

      <% if @option.configurations.select(&:persisted?).empty? %>
        <div class="mt-3 alert alert-info">
          There are no configurations yet.
        </div>
      <% end %>

      <%= render 'puppet/configurations/configurations', configurations: @option.configurations %>

      <h3 class="mt-5">Add a new configuration</h3>
      <%= render 'puppet/configurations/form', configurable: @option, url: puppet_environment_node_option_path(@environment, @node, @option) %>
    </div>
    <div class="col-6">
      <%= debug @option.display_configs %>
    </div>
  </div>
</div>
