<%= form_with(model: environment, local: true) do |form| %>
  <% if environment.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h5><%= pluralize(environment.errors.count, "error") %> prohibited this environment from being saved:</h5>
      <ul>
        <% environment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control"%>
  </div>

  <div class="actions">
    <%= form.submit "Save", class:"btn btn-success min-width-btn" %>
  </div>
<% end %>
