<table class="table table-borderd">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Nodes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% environments.each do |environment| %>
      <tr>
        <td>
          <%= environment.name %>
        </td>
        <td>
          <%= environment.nodes.accessible_by(current_ability).count %>
        </td>
        <td class="text-right">
          <% if can? :show, environment %>
            <%= link_to 'Nodes', puppet_environment_nodes_path(environment), class: "btn btn-sm btn-light min-width-btn" %>
          <% end %>
          <% if can? :edit, environment %>
            <%= link_to 'Edit', edit_puppet_environment_path(environment), class:"btn btn-sm btn-primary min-width-btn" %>
          <% end %>
          <% if can? :delete, environment %>
            <%= link_to 'Delete', environment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger min-width-btn" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
