<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <h1>Edit Environment</h1>
    </div>
    <div class="col text-right">
      <%= link_to 'Back', puppet_environments_path, class: "btn btn-light" %>
      <%= link_to 'New Node', new_puppet_environment_node_path(@environment), class: "btn btn-light" %>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <%= render 'form', environment: @environment %>

      <hr class="mt-5 mb-5">
      <h3>Configurations</h3>

      <% if @environment.configurations.select(&:persisted?).empty? %>
        <div class="mt-3 alert alert-info">
          There are no configurations yet.
        </div>
      <% end %>

      <%= render 'puppet/configurations/configurations', configurations: @environment.configurations %>

      <h3 class="mt-5">Add a new configuration</h3>
      <%= render 'puppet/configurations/form', configurable: @environment, url: puppet_environment_path(@environment)  %>
    </div>
    <div class="col-6">
      <%= debug @environment.display_configs %>
    </div>
  </div>
</div>
