<%= form_with(model: puppet_environment, local: true) do |form| %>
  <% if puppet_environment.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h5><%= pluralize(puppet_environment.errors.count, "error") %> prohibited this puppet_environment from being saved:</h5>
      <ul>
      <% puppet_environment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
            <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name ,class:"form-control"%>
      </div>
        <div class="actions">
    <%= form.submit "Save", class:"btn btn-success min-width-btn" %>
  </div>
<% end %>