<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>HDM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column h-100">
    <%= render partial: "shared/top_navigation" %>

    <main class="flex-shrink-0 mb-4">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <%= render_breadcrumbs :tag => :li, :separator => " > " %>
          </ol>
        </nav>

        <% flash.each do |key, value| %>
          <div class="<%= flash_class(key) %>" data-turbo-cache="false">
            <%= value %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </main>

    <footer class="footer bg-light mt-auto py-4">
      <div class="container text-center">
        © <%= Date.today.year %>
        <a href="https://betadots.de/" class="text-danger">
          <%= image_tag "betadots.png", alt: "betadots logo", width: "32", height: "32" %>
          betadots GmbH
        </a>
        -
        Licensed under GNU Affero General Public License v3.0
        -
        <a href="https://github.com/betadots/hdm">
          <%= icon("github") %>
          Source code
        </a>
      </div>
    </footer>
  </body>
</html>
